<!DOCTYPE html>
<html lang="en">
<head>


    <title></title>
    <style>
         ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
         }
         .active {
            background-color: #4CAF50;
            color: white;
         }
         li {
            display: inline;
            margin: 20px;
            padding: 2px;
         }
      </style>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300">
        <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="menu-nav">
    <div id="navigation-bar">
        <ul>
        <li><a href="/"><i class="fa fa-home"></i><span style="display:inline-block; width: 200px;">Home</span></a></li>
        <li><a href="/trainingGoals"><i class="fa fa-heart"></i><span style="display:inline-block; width: 200px;">Training Goals</span></a></li>
        <li><a href="/completedGoals"><i class="fa fa-check-circle"></i><span style="display:inline-block; width: 200px;">CompletedGoals</span></a></li>
        <li><a href="/incompleteGoals"><i class="fa fa-times"></i><span style="display:inline-block; width: 200px;">incomplete Goals</span></a></li>
        <li><a href="/error"><i class="fa fa-rss"></i> <span style="display:inline-block; width: 200px;">Test Error 500</span></a></li>
        </ul>
    </div>
    
    </div>

  </body>
</html>