<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>

    {{>navBar}}
    <br>

    <h1>{{title}}</h1>

    <br>
    {{#PostByTrainer}}
    <div>
        Name of Trainer: <a href="/posts/{{name}}">{{name}}</a>
    </div>
    <div>
        Goal to be Achieved: {{goal}}
    </div>
    <div>
        Length of Goal (in minutes or reps): {{duration}}
    </div>
    <div>
        Scheduled Date: {{date}}
    </div>
    <div>
        Has the Goal been completed: {{completed}}
    </div>
    <hr>
    {{/PostByTrainer}}
    {{^PostByTrainer}}
    No entries yet
    {{/PostByTrainer}}

</body>
</html>