<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}

    <style>

        }
         ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
         }
         .active {
            background-color: #4CAF50;
            color: white;
         }
         li {
            display: inline;
            margin: 20px ;
            padding: 2px;

         }
      </style>
</head>
<body>

    {{>navBar}}
    <br>
    
    <h1>{{title}}</h1>

    <hr>
    <br>
        <div class="container">
            {{^user}}
           <li><a id="login" href="/login" class="btn btn-primary">
                Sign In
            </a></li>

            <li><a id="register" href="/register" class="btn btn-primary">
                Register
            </a></li>
            {{/user}}
            
            {{#user}}  
            <li><a id="logout" href="/logout" class="btn btn-primary">
                Sign Out
            </a></li>
            {{/user}}


     
            {{#user}}
            <li><a href="mailto:?subject=I wanted you to see this site&body=Check out this site http://localhost:3000/trainingGoals"
            class="btn btn-primary"> Share by Email</a>

            <li><a href="https://twitter.com/share?url=<URL>&text=<TEXT>via=<USERNAME>">
            Share with
            <i class='fab fa-twitter-square' style='font-size:24px'></i></a></li>

            <li><a href="https://www.facebook.com/sharer/sharer.php?u=localhost:3000/trainingGoals">
            Share with
            <i class='fab fa-facebook' style='font-size:24px color: red'></i></a></li>
            {{/user}}
      

     
            {{#user}}  
            <li><a href="/insertForm" class="btn btn-primary">
            Add a Training Goal</a></li>
            {{/user}}
        </div>

    <br>
    <hr> 
    <br>
    {{#user}}  
    {{#trainingGoals}}
    <div>
        Name of Trainer: <a href="/posts/{{name}}">{{name}}</a>
    </div>
    <div>
        Goal to be Achieved: {{goal}}
    </div>
    <div>
        Length of Goal (in minutes or reps): {{duration}}
    </div>
    <div>
        Scheduled Date: {{date}}
    </div>
    <div>
        Has the Goal been completed: {{completed}}
    </div>
    <a href="/delete/{{_id}}" alt="delete this entry"><i class="fa fa-trash" style="font-size:24px"></i></a>
    <a href="/update/{{_id}}" alt="update this entry"><i class="fa fa-edit" style="font-size:24px" style="margin: 10px" ></i></a>
    <br>
    <hr>
    {{/trainingGoals}}
    {{/user}}
    {{^trainingGoals}}
    No entries yet
    {{/trainingGoals}}

</body>
</html>